
.dropdown-wrapper{
    position: relative;
    .dropdown-header{
        .icon {
            display: inline-block;
            margin-left:7px;
        }
    }
    .dropdown-content{
        position: absolute;
        list-style-type: none;
        &.menu-content{
            background-color:#1d1d1f;
            color:#f5f5f7;
            top: 36px;
            width:100px;
            left: -17px;
           text-align: center;
            padding: 5px 6px;
        }
        .dropdown-item{
            padding:3px;
            a{
                color:#ccc;
                &:hover{
                    color:#f5f5f7;
                }
            }
        }
    }
    &.menu-dropdown{
        opacity: 1;
    }
}
.icon-arrow{
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px; 
    &.icon-down{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    &.icon-up{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    
}
