.calendar-wrapper{
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    .react-datepicker-wrapper:first-child{
        margin-right:10px
    }
    .calendar-header{
    text-align: right;
    align-self: center;
    margin-right: 20px;
    font-weight: bold;
    }
    .calendar{
        position: relative;
        .calendar-img{
            position: absolute;
            width: 20px;
            top: 5px;
            right: 5px;
            z-index: 1;
            cursor: pointer;
        }
    }
    .react-datepicker__input-container{
        input{
            cursor: pointer;
        }
    }
}

