.login-container{
    width:500px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f5;
    padding:40px 0 60px 0;
    border: 1px solid #ccc;
    margin-top:10vh;
    border-radius: 5px;
}
.cts-login-logo{
    max-height:90px;
    margin-bottom: 20px;
}
.login-header{
    font-family: 'Roboto-Light';
    font-size: 25px;
    margin-bottom: 30px;
}
.form-group{
    margin-bottom: 20px;
    .form-input-label{
        display: inline-block;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .form-input{
        width:80%;
        padding: 10px 10px 10px 5px;
    }
}
